@page "/"
@page "/key/{openAiKey}"

@using System.Text.RegularExpressions
@using java.io
@using OpenAI_API
@using OpenAI_API.Chat
@using opennlp.tools.sentdetect
@using opennlp.tools.tokenize
@using Reader.Models
@inject IJSRuntime JsRuntime

<PageTitle>Reader</PageTitle>

@if (Sentences.Count > 0)
{
    <main>
        @foreach (Sentence sentence in Sentences)
        {
            if (CurrentMode == Mode.Word)
            {
                <p>
                @foreach (Token token in sentence.Tokens)
                {
                    if (IsWord(token))
                    {
                        string style = "word";
                        if (SelectedWord != null && token.Id.Equals(SelectedWord.Id))
                        {
                            style = "selected-word";
                        }
                        <span class="@style" @onclick="() => AddWord(token)">@token.Text</span>
                    }
                    else
                    {
                        @token.Text
                    }

                    int i = sentence.Tokens.IndexOf(token);
                    if (i + 1 < sentence.Tokens.Count)
                    {
                        if (IsWord(sentence.Tokens[i + 1]))
                        {
                            <text>&nbsp;</text>
                        }
                    }
                }
                </p>
            }
            else
            {
                string style = "sentence";
                if (SelectedSentences.FirstOrDefault(s => s.Id.Equals(sentence.Id)) != null)
                {
                    style = "selected-sentence";
                }
                <p class="@style" @onclick="() => AddSentence(sentence)">
                   @foreach (Token token in sentence.Tokens)
                    {
                        <text>@token.Text&nbsp;</text>
                    }
                </p>
            }
        }
    </main>
}

@if (Sentences.Count == 0)
{
    <textarea @bind="RawTextAreaContent" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-primary" @onclick="ProcessText">Import</button>
}


<label>
    <input type="radio" name="mode" value="Word" @onchange="ToggleState" checked="@IsWordMode" />
    Word
</label>
<label>
    <input type="radio" name="mode" value="Sentence" @onchange="ToggleState" checked="@IsSentenceMode" />
    Sentence
</label>

@if (IsKeyDisplays)
{
    <div>
        <label for="openAIKey">OpenAI Key:</label>
        <input id="openAIKey" type="password" class="form-control" @bind="OpenAiKey" />
    </div>
}

<button @onclick="GetDefinitionOrParaphrase" disabled="@IsButtonDisabled" class="btn btn-secondary">
    @if (CurrentMode == Mode.Word)
    {
        <text>Get definition</text>
    }
    else
    {
        <text>Paraphrase</text>
    }
</button>

<p>History</p>
<ul>
    @foreach (Token token in History)
    {
        string style = "";
        if (SelectedWord != null && SelectedWord.Id.Equals(token.Id))
        {
            style = "selected-sentence";
        }
        <li class="@style">@token.Text - @token.Definition</li>
    }
</ul>

@code {
    private string? RawTextAreaContent { get; set; }
    private List<Sentence> Sentences { get; set; } = new();
    private Mode CurrentMode { get; set; } = Mode.Word;
    private bool IsWordMode => CurrentMode == Mode.Word;
    private bool IsSentenceMode => CurrentMode == Mode.Sentence;
    private List<Sentence> SelectedSentences { get; set; } = new();
    private Token? SelectedWord { get; set; }
    [Parameter]
    public string? OpenAiKey { get; set; }
    private bool IsButtonDisabled
    {
        get {
            if (Sentences.Count == 0)
            {
                return true;
            }

            if (String.IsNullOrWhiteSpace(OpenAiKey))
            {
                return true;
            }

            if (SelectedWord == null && SelectedSentences.Count == 0)
            {
                return true;
            }

            return false;
        }
    }

    private bool IsKeyDisplays => History.Count == 0;

    private List<Token> History
    {
        get
        {
            var result = new List<Token>();
            foreach (Sentence sentence in Sentences)
            {
                result.AddRange(sentence.Tokens.Where(token => !String.IsNullOrWhiteSpace(token.Definition)));
            }

            return result;
        }
    }


    private void ToggleState(ChangeEventArgs e)
    {
        SelectedWord = null;
        SelectedSentences.Clear();
        CurrentMode = (Mode)Enum.Parse(typeof(Mode), e.Value!.ToString()!);
    }
    
    private bool IsWord(Token token)
    {
        return Regex.IsMatch(token.Text, @"^[A-Za-z-'’]+$");
    }

    private void ProcessText()
    {
        SelectedWord = null;
        SelectedSentences.Clear();
        Sentences.Clear();
        
        if (String.IsNullOrWhiteSpace(RawTextAreaContent))
        {
            return;
        }

        InputStream sentenceModelIn = new FileInputStream("opennlp-en-ud-ewt-sentence-1.0-1.9.3.bin");
        InputStream tokensModelIn = new FileInputStream("opennlp-en-ud-ewt-tokens-1.0-1.9.3.bin");
        SentenceModel sentenceModel = new(sentenceModelIn);
        TokenizerModel tokenizerModel = new(tokensModelIn);
        SentenceDetectorME sentenceDetector = new(sentenceModel);
        Tokenizer tokenizer = new TokenizerME(tokenizerModel);
        
        string[] sentences = sentenceDetector.sentDetect(RawTextAreaContent);
        foreach (string sentence in sentences)
        {
            string[]? tokens = tokenizer.tokenize(sentence);
            Sentence sentenceObj = new() { Id = Guid.NewGuid(), Tokens = new List<Token>() };
            foreach (string token in tokens)
            {
                sentenceObj.Tokens.Add(new Token { Id = Guid.NewGuid(), SentenceId = sentenceObj.Id, Text = token });
            }
            
            Sentences.Add(sentenceObj);
        }
    }

    private void AddWord(Token token)
    {
        if (SelectedWord != null && SelectedWord.Id.Equals(token.Id))
        {
            SelectedWord = null;
            return;
        }

        SelectedWord = token;
    }
    
    private void AddSentence(Sentence sentence)
    {
        if (SelectedSentences.Count == 5)
        {
            return;
        }
        
        var sentencesWithSameId = SelectedSentences.Where(s => s.Id.Equals(sentence.Id)).ToArray();
        if (sentencesWithSameId.Length != 0)
        {
            foreach (Sentence s in sentencesWithSameId)
            {
                SelectedSentences.Remove(s);
            }
            
            return;
        }
        
        SelectedSentences.Add(sentence);
    }

    private async Task GetDefinitionOrParaphrase()
    {
        try
        {
            OpenAIAPI api = new(OpenAiKey);
            Conversation? chat = api.Chat.CreateConversation();
            if (CurrentMode == Mode.Word && SelectedWord != null)
            {
                if (String.IsNullOrWhiteSpace(SelectedWord.Definition) == false)
                {
                    await JsRuntime.InvokeVoidAsync("alert", $"{SelectedWord.Definition}");
                    return;    
                }
                
                Sentence? sentence = Sentences.FirstOrDefault(s => s.Id.Equals(SelectedWord.SentenceId));
                if (sentence == null)
                {
                    return;
                }
                int i = Sentences.IndexOf(sentence);
                int sentencesCount = Sentences.Count;
                Sentence? prevSentence = null;
                if (i - 1 > 0)
                {
                    prevSentence = Sentences[i - 1];
                }

                Sentence? nextSentence = null;
                if (i + 1 < sentencesCount)
                {
                    nextSentence = Sentences[i + 1];
                }

                string stringRepresentationOfSentence = String.Join(' ', sentence.Tokens.Select(t => t.Text).ToArray());
                string content = $"Give me a simple definition for word \'{SelectedWord.Text}\' in the context of the sentence \'{stringRepresentationOfSentence}\'.";

                if (prevSentence != null)
                {
                    string stringRepresentationOfPrevSentence = String.Join(' ', prevSentence.Tokens.Select(t => t.Text).ToArray());
                    content += $"\nTake into account that previous sentence is \'{stringRepresentationOfPrevSentence}\'.";
                }

                if (nextSentence != null)
                {
                    string stringRepresentationOfNextSentence = String.Join(' ', nextSentence.Tokens.Select(t => t.Text).ToArray());
                    content += $"\nNext sentence is \'{stringRepresentationOfNextSentence}\'.";
                }

                content += "\nIn the end give me a proper Russian equivalent of this word without transcription.";
            
                chat.AppendUserInput(content);
                string response = await chat.GetResponseFromChatbotAsync();

                SelectedWord.Definition = response;
            
                await JsRuntime.InvokeVoidAsync("alert", $"{response}");
            }
            else
            {
                var stringRepresentations = new List<string>(SelectedSentences.Count);
                foreach (Sentence sentence in SelectedSentences)
                {
                    string stringRepresentationOfSentence = String.Join(' ', sentence.Tokens.Select(t => t.Text).ToArray());
                    stringRepresentations.Add(stringRepresentationOfSentence);
                }

                string finalJoin = string.Join('\n', stringRepresentations);

                string content = $"Paraphrase this sentences and use really simple English words:\n\n\'{finalJoin}\'";
                
                chat.AppendUserInput(content);
                string response = await chat.GetResponseFromChatbotAsync();
            
                await JsRuntime.InvokeVoidAsync("alert", $"{response}");
            }
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", $"{e.Message}");
        }
        
    }


}